<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<div class='container'>
	<div class ='topbar'><h1>Slideshows</h1></div>
	<% @slideshows.each do |s| %>
		<h2><%= s.name %> </h2>
		<% s.pictures.each do |p| %>
			<img src="<%= p.avatar %>" class='img-rounded' width='80px'>
		<% end %><hr>
	<% end %>
	<a class='btn btn-primary btn-lg btn-block'href="<%= new_user_slideshow_path current_user %>">New Slideshow</a>
	<a class='btn btn-warning btn-lg btn-block' href="/master">Back</a>
</div>