<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	<div class='container'>
		<h1>Pick a slideshow to play!</h1>
		<% @slideshows.each do |s| %>
			<div class ='row film'>
				<div class = 'col-xs-12'>
							<a class='btn btn-primary btn-block btn-lg' href="/play/<%= s.id %>">[<%= s.name.capitalize %>]<span class='glyphicon glyphicon-play'></span></a>
							<!-- <% s.pictures.each do |p| %>
								<img src="<%= p.avatar %>" class='img-rounded'>
							<% end %> -->
				</div> <!--end column -->
			</div> <!--end row -->
		<% end %>
		<br><br>
		<a class='btn btn-warning btn-lg btn-block' href="/users/<%= @user.id%>">Back</a>
	</div>
</body>